body {
  background-color: lightblue
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 70px;
  margin-top: 30px;
}

input {
  width: 70px;
  height: 70px;
  background-color: antiquewhite;
}

#mainBoard {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border: 3px solid black;
  background-image: url(/img/newboard.png);
  background-size: cover;
}

button {
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: fantasy;
  padding-top: 7px;
}

h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 70px;
}